body, html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, p {
  margin: 0;
}

.app {
  overflow-x: hidden;
}
